<div class="container-background">
  <div class="row">
    <div class="center">
      <h1>Jeans.coとは</h1>
      <h2>Jeans.coはジーンズ好きが作った、ジーンズ好きのための口コミサイトです。</h2>
      <h3><%=link_to "会員登録",signup_path,class: "btn btn-lg btn-info" %>
          <%=link_to "投稿を見る",microposts_path,class: "btn btn-lg btn-info" %></h3>
    </div>
  </div>
</div>
